<section class="flex flex-col w-full max-w-lg bg-white shadow-md rounded-lg p-6">
  <ul class="pb-5">
    <% @categories.each do |category| %>
      <li class="flex items-center py-2 px-4 border-b rounded-lg hover:bg-gray-100">
        <%= link_to category_path(category), class: "w-full flex items-center" do %>
          <i class="<%= category.icon %> p-4 mr-2 w-1/4"></i>
          <%= content_tag :span, category.name, class: "w-2/4" %>
          <%= content_tag :span, category.total_expenses, class: "w-1/4 text-right" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "New Category", new_category_path, class: "bg-green-600 p-5 text-center text-white font-bold rounded-lg hover:bg-green-500" %>
</section>
